<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <style>
      body {background-color: pink;}
    </style>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li><h2><a href="./profiles/{{id}}"> {{name}} </a></h2>({{email}})</li>
    {{/each}}
    </ul>
  </body>
</html>
