<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <style>
      body {background-color: pink;}
    </style>
  </head>
  <body>
      <h2>{{name}} </h2>

  </body>
</html>
