<!DOCTYPE html>
hello world
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <style>
      body {background-color: pink;}
    </style>
  </head>
  <body>
      <h2>{{data.id}}</h2>

  </body>
</html>
